.layout {
    height: 100%;
}

.layout-content {
    display: flex;
    height: calc(100% - 140px);
    background-color: #e2e2e2;
}

.layout-content-left {
    width: 30%;
    border-right: 1px solid #ccc;
}

.layout-content-right {
    width: 70%;
}
