* {
    outline: none !important;
}
html,
body,
#app {
    margin: 0;
    height: 100%;
}

.message-field {
    display: flex;
    flex-direction: column;
    background-color: #00fcef;
    height: 50vh;
    width: auto;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.layout {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message {
    background-color: rgb(0, 140, 196) !important;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 500px;
    color: #fff !important;
    word-wrap: break-word;
    & > span {
        font-size: 14px;
        border-top: 1px solid rgb(5, 206, 233);
        margin-top: 5px;
        color: rgb(2, 226, 255);
    }
}

.actions {
    max-width: 100%;
    display: flex;
    padding: 12px;
    background: rgb(0, 217, 255);
}
.header {
    width: 100%;
    &-profile {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
.contant {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
}

.chat {
    &-bord {
        width: 70%;
    }
    &-list {
        width: 30%;
    }
    &-link {
        text-decoration: none;
        color: #000;
    }
}
.login {
    margin: 0 0 0 auto !important;
    text-decoration: none;
    color: #fff;
    
}

.home {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.profile {
    height: 100%;
}

.place {
    margin: 0 auto;
    display: block;
}

.empty-chat {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}